@font-face {font-family: 'Futura-Medium'; src: url('../fonts/Futura-Medium/Futura-Medium.eot') format('embedded-opentype'); src: url('../fonts/Futura-Medium/Futura-Medium.woff') format('woff'), url('../fonts/Futura-Medium/Futura-Medium.ttf')  format('truetype'), url('../fonts/Futura-Medium/Futura-Medium.svg#Futura-Medium') format('svg'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'FuturaLT-Bold'; src: url('../fonts/FuturaLT-Bold/FuturaLT-Bold.eot') format('embedded-opentype'); src: url('../fonts/FuturaLT-Bold/FuturaLT-Bold.woff') format('woff'), url('../fonts/FuturaLT-Bold/FuturaLT-Bold.ttf')  format('truetype'), url('../fonts/FuturaLT-Bold/Futura-Bold.svg#FuturaLT-Bold') format('svg'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'FuturaLT-BoldOblique'; src: url('../fonts/FuturaLT-BoldOblique/FuturaLT-BoldOblique.eot') format('embedded-opentype'); src: url('../fonts/FuturaLT-BoldOblique/FuturaLT-BoldOblique.woff') format('woff'), url('../fonts/FuturaLT-BoldOblique/FuturaLT-BoldOblique.ttf')  format('truetype'), url('../fonts/FuturaLT-BoldOblique/Futura-Medium.svg#FuturaLT-BoldOblique') format('svg'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'Montserrat-Regular'; src: url('../fonts/montserrat/Montserrat-Regular.eot') format('embedded-opentype'); src:  url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'), url('../fonts/montserrat/Montserrat-Regular.ttf')  format('truetype'), url('../fonts/montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'Montserrat-SemiBold'; src: url('../fonts/montserrat/Montserrat-SemiBold.eot') format('embedded-opentype'); src:  url('../fonts/montserrat/Montserrat-SemiBold.woff') format('woff'), url('../fonts/montserrat/Montserrat-SemiBold.ttf')  format('truetype'), url('../fonts/montserrat/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'Montserrat-Medium'; src: url('../fonts/montserrat/Montserrat-Medium.eot') format('embedded-opentype'); src:  url('../fonts/montserrat/Montserrat-Medium.woff') format('woff'), url('../fonts/montserrat/Montserrat-Medium.ttf')  format('truetype'), url('../fonts/montserrat/Montserrat-Medium.svg#Montserrat-Medium') format('svg'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'Montserrat-Light'; src: url('../fonts/montserrat/Montserrat-Light.eot') format('embedded-opentype'); src:  url('../fonts/montserrat/Montserrat-Light.woff') format('woff'), url('../fonts/montserrat/Montserrat-Light.ttf')  format('truetype'), url('../fonts/montserrat/Montserrat-Light.svg#Montserrat-Light') format('svg'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'Montserrat-Bold'; src: url('../fonts/montserrat/Montserrat-Bold.eot') format('embedded-opentype'); src:  url('../fonts/montserrat/Montserrat-Bold.woff') format('woff'), url('../fonts/montserrat/Montserrat-Bold.ttf')  format('truetype'), url('../fonts/montserrat/Montserrat-Bold.svg#Montserrat-Bold') format('svg'); font-weight: normal; font-style: normal; }
*, *:after, *:before {-webkit-box-sizing: border-box; box-sizing: border-box;}
/** 1. Change the default font family in all browsers (opinionated). 2. Prevent adjustments of font size after orientation changes in IE and iOS. */
html {font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */}

/* HTML5 display definitions ========================================================================== */
/** Add the correct display in IE 9-. 1. Add the correct display in Edge, IE, and Firefox. 2. Add the correct display in IE. */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {/* 1 */ display: block;}

/** Add the correct display in IE 9-. */
audio, canvas, progress, video {display: inline-block;}

/** Add the correct display in iOS 4-7. */
audio:not([controls]) {display: none; height: 0;}

/** Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {vertical-align: baseline;}

/** Add the correct display in IE 10-. 1. Add the correct display in IE. */
template, [hidden] {display: none;}

/* Links ========================================================================== */
/** Remove the gray background on active links in IE 10. */
a {background-color: transparent;}

/* Text-level semantics ========================================================================== */
/** 1. Remove the bottom border in Firefox 39-. 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {border-bottom: none; /* 1 */ text-decoration: underline; /* 2 */ -webkit-text-decoration: underline dotted; text-decoration: underline dotted; /* 2 */}

/** Prevent the duplicate application of `bolder` by the next rule in Safari 6. */
b, strong {font-weight: inherit;}

/** Add the correct font weight in Chrome, Edge, and Safari. */
b, strong {font-weight: bold;}

/** Add the correct font style in Android 4.3-. */
dfn {font-style: italic;}

/** Add the correct background and color in IE 9-. */
mark {background-color: #ff0; color: #000;}

/** Add the correct font size in all browsers. */
small {font-size: 80%;}

/** Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}

sub {bottom: -0.25em;}

sup {top: -0.5em;}

/* Embedded content ========================================================================== */
/** Remove the border on images inside links in IE 10-. */
img {border-style: none;}

/** Hide the overflow in IE. */
svg:not(:root) {overflow: hidden;}

/* Grouping content ========================================================================== */
/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, pre, samp {font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */}

/** Add the correct margin in IE 8. */
figure {margin: 1em 40px;}

/** 1. Add the correct box sizing in Firefox. 2. Show the overflow in Edge and IE. */
hr {-webkit-box-sizing: content-box; box-sizing: content-box; /* 1 */ height: 0; /* 1 */ overflow: visible; /* 2 */}

/* Forms ========================================================================== */
/** Change font properties to `inherit` in all browsers (opinionated). */
button, input, select, textarea {font: inherit;}

/** Restore the font weight unset by the previous rule. */
optgroup {font-weight: bold;}

/** Show the overflow in IE. 1. Show the overflow in Edge. 2. Show the overflow in Edge, Firefox, and IE. */
button, input, select {/* 2 */ overflow: visible;}

/** Remove the margin in Safari. 1. Remove the margin in Firefox and Safari. */
button, input, select, textarea {/* 1 */ margin: 0;}

/** Remove the inheritance of text transform in Edge, Firefox, and IE. 1. Remove the inheritance of text transform in Firefox. */
button, select {/* 1 */ text-transform: none;}

/** Change the cursor in all browsers (opinionated). */
button, [type="button"], [type="reset"], [type="submit"] {cursor: pointer;}

/** Restore the default cursor to disabled elements unset by the previous rule. */
[disabled] {cursor: default;}

/** 1. Prevent a WebKit bug where (2) destroys native `audio` and `video` controls in Android 4. 2. Correct the inability to style clickable types in iOS. */
button, html [type="button"], [type="reset"], [type="submit"] {-webkit-appearance: button; /* 2 */}

/** Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, input::-moz-focus-inner {border: 0; padding: 0;}

/** Restore the focus styles unset by the previous rule. */
button:-moz-focusring, input:-moz-focusring {outline: 1px dotted ButtonText;}

/** Change the border, margin, and padding in all browsers (opinionated). */
fieldset {border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em;}

/** 1. Correct the text wrapping in Edge and IE. 2. Correct the color inheritance from `fieldset` elements in IE. 3. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
legend {-webkit-box-sizing: border-box; box-sizing: border-box; /* 1 */ color: inherit; /* 2 */ display: table; /* 1 */ max-width: 100%; /* 1 */ padding: 0; /* 3 */ white-space: normal; /* 1 */}

/** Remove the default vertical scrollbar in IE. */
textarea {overflow: auto;}

/** 1. Add the correct box sizing in IE 10-. 2. Remove the padding in IE 10-. */
[type="checkbox"], [type="radio"] {-webkit-box-sizing: border-box; box-sizing: border-box; /* 1 */ padding: 0; /* 2 */}

/** Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {height: auto;}

/** Correct the odd appearance of search inputs in Chrome and Safari. */
[type="search"] {-webkit-appearance: textfield;}

/** Remove the inner padding and cancel buttons in Chrome on OS X and Safari on OS X. */
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {-webkit-appearance: none;}

blockquote {border-left: 0.3rem solid #d1d1d1; margin-left: 0; margin-right: 0; padding: 1rem 1.5rem;}

blockquote *:last-child {margin: 0;}

form ul {list-style: none; margin: 0; padding: 0;}

input[type='text'], input[type='email'], input[type='password'], input[type='tel'], input[type='url'], textarea, select {-webkit-appearance: none; -moz-appearance: none; appearance: none; background-color: transparent; border: 1px solid #d1d1d1; border-radius: .4rem; -webkit-box-shadow: none; box-shadow: none; -webkit-box-sizing: border-box; box-sizing: border-box; padding: .6rem 1.0rem; width: 100%;}

input[type='text']:focus, input[type='email']:focus, input[type='password']:focus, input[type='tel']:focus, input[type='url']:focus, textarea:focus, select:focus {border: 1px solid #f2a1ad; outline: 0;}

textarea {padding-bottom: .6rem; padding-top: .6rem;}

label, legend {font-size: 16px; display: block; margin-bottom: .5rem; color: #302C2E;}

fieldset {border-width: 0; padding: 0;}

input[type='checkbox'], input[type='radio'] {display: inline;}

input[type='submit']:focus {outline: none;}

dl, ol, ul {margin-top: 0; padding-left: 0;}

dl dl ul, dl ol, ol dl ul, ol ol, ul dl ul, ul ol {font-size: 90%; margin: 1.5rem 0 1.5rem 3.0rem;}

dl {list-style: none;}

ul {list-style: circle inside;}

ol {list-style: decimal inside;}

dt, dd, li {margin-bottom: 10px;}

hr {border-top: 0.1rem solid #4A4D50; border-width: 0; margin-bottom: 3.5rem; margin-top: 3rem;}

.embed-container {position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto;}

.embed-container iframe, .embed-container object, .embed-container embed {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

input, textarea, select, fieldset {margin-bottom: 1rem;}

input:last-child, textarea:last-child, select:last-child, fieldset:last-child {margin-bottom: 0;}

pre, blockquote, dl, figure, table, p, ul, ol, form {margin-bottom: 1.4rem;}

pre:last-child, blockquote:last-child, dl:last-child, figure:last-child, table:last-child, p:last-child, ul:last-child, ol:last-child, form:last-child {margin-bottom: 0;}

table {width: 100%;}

.flex, .flex-row, .flex-column, .flex-start, .flex-end, .flex-center, .flex-stratch {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}

.flex-row {-webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row;}

.flex-column {-webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;}

.flex-start {-webkit-box-align: start; -ms-flex-align: start; align-items: flex-start;}

.flex-end {-webkit-box-align: end; -ms-flex-align: end; align-items: flex-end;}

.flex-center {-webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}

.flex-stratch {-webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch;}

@supports ((-o-object-fit: cover) or (object-fit: cover)) {.background-image img {-o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; height: 100%;}}

.clearfix {*zoom: 1;}

.clearfix:after, .clearfix:before {content: ''; display: table;}

.clearfix:after {clear: both;}

.tacenter {text-align: center;}

.taright {text-align: right;}

.taleft {text-align: left;}

.relative {position: relative;}

body,html {margin: 0px;padding: 0px;position: relative;font-size: 16px;line-height: 26px;background: #FFF;font-family: 'Montserrat-Regular';}

h1,h2,h3,h4,h5 {margin: 0px;margin-bottom: 20px;font-family: 'FuturaLT-Bold';color: #000000;}

h1 {font-size: 30px;line-height: 40px;}

h2 {font-size: 28px;line-height: 38px;}

h3 {font-size: 26px;line-height: 36px;}

h4 {font-size: 22px;line-height: 32px;}

h5 {font-size: 18px;line-height: 28px;}

a {text-decoration: none; cursor: pointer;color: #000;}

a:hover {text-decoration: none;outline: none;transition: 0.5s ease-in-out all;-webkit-transition: 0.5s ease-in-out all;-ms-transition: 0.5s ease-in-out all;-moz-transition: 0.5s ease-in-out all;-o-transition: 0.5s ease-in-out all;color: #0a4436;}

p {color: #212121; font-family: 'Montserrat-Regular'; font-size: 14px; font-weight: 400; line-height: 24px; margin: 0px 0px 20px 0px;}

.tbl {display: table; width: 100%; height: 100%; vertical-align: middle; text-align: center;} 

.tbl-cell {display: table-cell; width: 100%; height: 100%; vertical-align: middle;} 

.img-responsive {max-width: 100%; display: block; height: auto; margin: 0 auto;} 

.paddingtop {padding: 80px 0px;} .inline__block {float: left; width: 100%; vertical-align: top; position: relative;} 

input::-webkit-input-placeholder {color: #FFF;}

input::-moz-placeholder {color: #FFF;}

input:-ms-input-placeholder {color: #FFF;}

input:-moz-placeholder {color: #FFF;}

input:focus {outline: none;}

.gform_wrapper .ginput_container input, .gform_wrapper .ginput_container textarea, .gform_wrapper .ginput_container select {border: none; border-radius: 0px !important; outline: none; padding: 12px 20px 12px 0px!important; margin-bottom: 0px; width: 100% !important; outline: none; font-size: 14px !important; line-height: 24px; border-bottom: 3px solid #0a4436 !important; font-family: 'Montserrat-Medium'; font-weight: 500; color: #212121;}

.gform_wrapper .ginput_container input::-webkit-input-placeholder,.gform_wrapper .ginput_container textarea::-webkit-input-placeholder {color: #212121;} 

.gform_wrapper .ginput_container input::-moz-placeholder,.gform_wrapper .ginput_container textarea::-webkit-input-placeholder {color: #212121;}

.gform_wrapper .ginput_container input:-ms-input-placeholder,.gform_wrapper .ginput_container textarea::-webkit-input-placeholder {color: #212121;}

.gform_wrapper .ginput_container input:-moz-placeholder,.gform_wrapper .ginput_container textarea::-webkit-input-placeholder {color: #212121;}

.gform_wrapper .ginput_container textarea {height: 135px;}

.gform_wrapper input[type="submit"] {background-color: #0A4436; border:none; width: 100% !important; font-family: 'FuturaLT-Bold'; border-radius: 0; -webkit-box-sizing: border-box; box-sizing: border-box; color: #ffffff; cursor: pointer; display: inline-block; font-size: 13px !important; letter-spacing: 1.2px; line-height: 15px; padding: 22px 58px !important; text-align: center; text-decoration: none; text-transform: uppercase; white-space: nowrap; position: relative; margin: 0px !important; transition: 0.5s ease-in-out all; -webkit-transition: 0.5s ease-in-out all; -ms-transition: 0.5s ease-in-out all; -moz-transition: 0.5s ease-in-out all; -o-transition: 0.5s ease-in-out all;}

.gform_wrapper input[type="submit"]:hover {background-color: #c3b59b; color: #ffffff; outline: 0;}

.gform_wrapper .validation_error {display: none;}

.gform_wrapper .validation_message {display: inline-block; width: 100%; text-align: left; margin-top: 9px; color: #F00;}

.container {max-width: 1340px; margin: 0 auto; padding: 0 20px; position: relative;} 

.container__inner {max-width: 91%; margin: 0 auto; position: relative;} 

.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item {-ms-touch-action: auto; touch-action: auto;} 

.bgbutton {background-color: #FFF; border-radius: 0; border: none; -webkit-box-sizing: border-box; box-sizing: border-box; cursor: pointer; display: inline-block; font-size: 14px; line-height: 24px; letter-spacing: 5px; text-transform: uppercase; color: #000; padding: 20px; border: 1px solid #8CC63F; font-family: 'Montserrat-SemiBold'; font-weight: 600;transition: 0.5s ease-in-out all;-webkit-transition: 0.5s ease-in-out all;-ms-transition: 0.5s ease-in-out all;-moz-transition: 0.5s ease-in-out all;-o-transition: 0.5s ease-in-out all;}

.bgbutton:hover, .bgbutton:focus {background-color: #8CC63F; color: #ffffff; outline: 0;} 

.top__section {background: url('../images/header-shadow.svg'); width: 100%; float: right; background-repeat: no-repeat; background-size: cover; background-position: center; }

.wthbanner .top__section {background: none;}

.top__inner {float: right;}

.top__section li {float: left; vertical-align: top; list-style: none; margin-bottom: 0px; min-width: 160px;text-align: center;}

.top__section li.callus {background-color: #FFF; transition: 0.5s ease-in-out all; -webkit-transition: 0.5s ease-in-out all; -ms-transition: 0.5s ease-in-out all; -moz-transition: 0.5s ease-in-out all; -o-transition: 0.5s ease-in-out all;}

.top__section li.search__inner {padding: 7px 20px;}

.top__section li.login a {background: #c3b59b;padding: 0px 22px; display: inline-block; height: 40px; line-height: 40px; color: #ffffff; font-family: "FuturaLT-Bold"; font-size: 13px; text-align: center; text-transform: uppercase; letter-spacing: 1.2px;display: inline-block;width: 100%;}

.top__section li.shopnow a {background: #FFF;padding: 0px 22px; display: inline-block; height: 40px; line-height: 40px; color: #212121; font-family: "FuturaLT-Bold"; font-size: 13px; text-align: center; text-transform: uppercase; letter-spacing: 1.2px;display: inline-block;width: 100%;}

.top__section li.shopnow:hover a {background: #0a4436;color: #FFF;}

.top__section li.login:hover a {background: #0a4436;color: #FFF;}

.search__form {position: relative;}

.search__form label {margin-bottom: 0px;}

.search__form .search__field {border: none; background-color: transparent; outline: none; color: #FFF; border-radius: 0; font-size: 13px; border: none; margin-bottom: 0px; padding: 0px; width: 85px;font-family: 'Montserrat-Regular';font-weight: normal;}

.search__form input[type='submit'] {background: url('../images/search-icon.svg'); width: 14px; height: 14px; border: none; color: #FFF; position: absolute; top: 7px; right: 5px; font-size: 0px; background-repeat: no-repeat;}

.cmnbtn {display: inline-block;position: relative; color: #0a4436; font-family: "FuturaLT-Bold"; font-size: 13px; line-height: 17px; text-align: center; text-transform: uppercase; letter-spacing: 1.2px;transition: 0.5s ease-in-out all;-webkit-transition: 0.5s ease-in-out all;-ms-transition: 0.5s ease-in-out all;-moz-transition: 0.5s ease-in-out all;-o-transition: 0.5s ease-in-out all;}

.cmnbtn:hover {color: #c3b59b;}

.bgbuttons {font-family: 'FuturaLT-Bold'; font-size: 13px; line-height: 15px; letter-spacing: 1.2px; text-transform: uppercase; color: #FFFFFF; background: #0a4436; padding: 22px 50px; text-align: center; border: none; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;margin-top: 15px;display: inline-block;}

.bgbuttons:hover {background: #c3b59b;}

.gg-shape-triangle {position: absolute; width: 18px; height: 18px; border-left: 3px solid transparent; border-bottom: 3px solid; transform: rotate(90deg); top: 0px; right: -34px;} .gg-shape-triangle,

.gg-shape-triangle::before {display: block; box-sizing: border-box; border-right: 3px solid transparent}

.gg-shape-triangle::before {content: ""; position: absolute; width: 20px; height: 20px; border-left: 3px solid; border-top: 3px solid; border-bottom: 3px solid transparent; transform: rotate(45deg) skew(19deg,19deg); left: -4px; bottom: -12px;}

.header__logo img {max-width: 100%;height: auto;}

.header__section {float: left; width: 100%; position: fixed; z-index: 99;padding-bottom: 10px;}

.header__inner {float: left; width: 100%; display: flex; align-items: center; justify-content: space-between; }

.slider__section {height: 890px; background: #000;z-index: 9;}

.slider__section .container {height: 100%; z-index: 999;}

.slider__section .tbl {text-align: left;}

.slider__section .tbl-cell {vertical-align: bottom;}

.slider__section .slider__content {width: 45%; margin-bottom: 70px;}

.bgoverlay {position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center; background-size: cover; text-align: center; mix-blend-mode: normal;}

.slider__content h2 {text-shadow: 0px 5px 15px rgba(0,0,0,0.15); color: #ffffff; font-family: "FuturaLT-Bold"; font-size: 90px; line-height: 110px; text-transform: uppercase; letter-spacing: 5px; margin-bottom: 30px; position: relative; z-index: 9;}

.slider__content .small__text {background: #0a4436; font-family: 'FuturaLT-Bold';padding: 0px 30px;font-style: italic;}

.slider__content .cmnbtn {color:#FFF;margin-top: 20px;}

.slider__content .cmnbtn:hover {color:#c3b59b;}

.square__img {position: absolute; top: 160px; left: -110px; right: 0; margin: 0 auto; text-align: center;}

.square__img img {max-width: 100%;height: auto;}

.cart-contents .in-cart {position: absolute; bottom: 16px; right: 4px; background: #0a4436; border-radius: 100%; font-size: 8px; line-height: 16px; width: 17px; height: 17px; text-align: center; color: white;}

.common__sect .tagline {height: 13px; font-family: "FuturaLT-Bold"; font-size: 10px; line-height: 13px; text-align: right; text-transform: uppercase; letter-spacing: 3.4px; background: #c3b59b; padding: 4px 15px 2px 15px; margin-bottom: 30px; display: inline-table;} 

.common__sect h3,.common__sect h2 {font-family: "FuturaLT-Bold"; font-size: 24px; line-height: 32px; text-transform: uppercase; letter-spacing: 7px; margin-bottom: 40px;}

.common__sect .flex {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; flex-wrap: wrap; margin-top: 59px;}

.gredientoverlay {position: absolute; bottom: 0px; height: 100%; width: 100%; left: 0;}

.overview-block-product {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; text-align: center; margin-bottom: 3rem; overflow: hidden; width: calc(100% / 3 - 2.5rem); height: 400px; position: relative; padding: 20px;}

.bgproperty {background-size: cover;background-position: center;background-repeat: no-repeat;overflow: hidden;position: relative;}

.home_mdl_sect {padding: 150px 0px 100px 0px;}

.home_mdl_sect .home_mdl_left {float: left; width: 42%; text-align: right;}

.home_mdl_sect .home_mdl_right {float: right; width: 50%;}

.home_mdl_sect .home_mdl_right p {text-align: right;}

.home_mdl_sect a {display: inline-block; margin: 46px; margin: 25px 46px 0px 0px;}

.home_mdl_sect .home_mdl_right .left__img {margin-top: 80px; } 

.home_mdl_sect .home_mdl_right .right__img {position: absolute; top: 0; right: 0;}

.home_mdl_sect p {text-align: right;}

.home_services {background: #ebebeb;padding-bottom: 40px;}

.home_services .tbl {position: relative;z-index: 9;}

.home_services .tbl-cell {vertical-align: bottom;}

.home_services h3 {color: #FFF;font-size: 18px;line-height: 34px;margin-bottom: 16px;}

.home_services .tagline {text-align: center;}

.objective__sect .objective__left {flex: 1;}
 
.objective__sect .flex {align-items: inherit;}

.objective__img {height: 600px; width: 100%;}

.objective__content {padding: 0px 0px 0px 110px;}

.objective__content ul li {display: inline-block; width: 100%; padding: 5px 0px 5px 32px; position: relative; color: #212121; font-family: 'Montserrat-Regular'; font-size: 14px; font-weight: 400; line-height: 24px;}

.objective__content ul li strong {font-family: 'Montserrat-Bold'; font-weight: 700;}

.objective__content ul li:after {content: url('../images/checkmark.svg'); width: 16px; height: 17px; position: absolute; top: 7px; left: 0;}

.objective__content .cmnbtn {margin-right: 80px;margin-top: 15px;}

.objective__img .square__img {position: absolute; top: 96px; left: -78px;}

.courses__sect {height: 560px;}

.courses__sect .container,.courses__sect .container__inner {height: 100%;}

.courses__sect .tbl,.courses__sect .tbl-cell {text-align: left;position: relative;z-index: 9;}

.courses__sect .square__img {top: -40px; right: 160px; left: auto;}

.courses__sect h2,.courses__sect h3 {color: #ffffff; font-family: "FuturaLT-Bold"; font-size: 60px; font-weight: 400; line-height: 80px; text-transform: uppercase; letter-spacing: 10px; margin-bottom: 10px; position: relative; z-index: 9;} 

.courses__sect h3 {background-color: #c3b59b; padding: 0px 80px 0px 20px; display: inline-block; margin-bottom: 75px;}

.courses__sect .cmnbtn {display: inherit;color: #FFF;}

.courses__sect .cmnbtn:hover {color: #c3b59b;}

.courses__right {position: absolute;bottom: 0;right: 0;}

.courses__left {position: absolute;bottom: 0;left: 0;}

.courses__right img,.courses__left img {max-width: 100%;height: auto;}

.state__news .overview-block-product {height: auto;padding: 0px;}

.shop_div {margin-top: 15px;}

.state__news {background-color: #212121;padding-bottom: 40px;}

.overview-block-product .shopbg {height: 400px;margin-bottom: 30px;}

.state__news h2 {color: #FFF;}

.state_details {text-align: left;}

.state_details .category {color: #c3b59b; font-family: "FuturaLT-Bold"; font-size: 10px; line-height: 13px; text-transform: uppercase; letter-spacing: 3.4px;}

.state_details h3 {color: #ffffff; font-family: 'Montserrat-SemiBold'; font-size: 20px; font-weight: 600; line-height: 28px; margin: 18px 0px 20px 0px; text-transform: inherit;letter-spacing: inherit;}

.state_details p {color: #FFF;mix-blend-mode: normal;opacity: 0.6;}

.state_details .cmnbtn {color: #c3b59b; margin-top: 15px;} 

.state_details .cmnbtn:hover {color: #FFF; }

.join_nowsect {height: 510px;}

.join_nowsect .container,.join_nowsect .container__iner {height: 100%;}

.join_nowsect .tbl {position: relative;z-index: 9;}

.join_nowsect .tbl-cell {vertical-align: bottom;}

.join_nowsect h3 {color: #ffffff; font-family: "FuturaLT-Bold"; font-size: 60px; line-height: 80px; text-transform: uppercase; letter-spacing: 10px; background-color: #c3b59b; display: inline-block; padding: 0px 130px 0px 20px; margin-bottom: 35px;} 

.join_nowsect h4 {color: #ffffff; font-family: "FuturaLT-Bold"; font-size: 24px; font-weight: 400; line-height: 32px; text-align: center; text-transform: uppercase; letter-spacing: 7px;}

.join_nowsect .cmnbtn {margin-top: 40px; color: #FFF;} 

.join_nowsect .cmnbtn:hover {color: #c3b59b;}

.inner__section {height: 680px;}

.constitutions__sect .container__inner {max-width: 45%;}

.const__faqs {background: #EBEBEB;}

.const__faqs .container__inner {max-width: 62%;}

.faq__list {border: 1px solid rgba(33, 33, 33, 0.204823);border-bottom: none;margin-top: 25px;}

.faq__list .faq__item {border-bottom: 1px solid rgba(33, 33, 33, 0.204823);}

.faq__list .faqsec {padding: 25px 50px 25px 25px; cursor: pointer; position: relative; font-family: 'Montserrat-SemiBold'; font-style: normal; font-weight: 600; font-size: 20px; line-height: 28px; color: #212121;} 

.faq__list .faqsec.open {border-bottom: 1px solid rgba(33, 33, 33, 0.204823);}

.faq__list .faqans {display: none; padding: 25px; background: #FFFFFF;} 

.faq__list .faqans h2,.faq__list .faqans h3 {font-family: 'Montserrat-SemiBold'; font-style: normal; font-weight: 600; font-size: 20px; line-height: 28px; color: #212121; letter-spacing: inherit; margin-bottom: 20px;}

.faq__list .faqans ul,.faq__list .faqans ol {margin: 0px; padding: 0px 0px 20px 0px;}

.faq__list .faqans ul li {display: inline-block; width: 100%; padding: 5px 0px 5px 32px; position: relative; color: #212121; font-family: 'Montserrat-Regular'; font-size: 14px; font-weight: 400; line-height: 24px;}

.faq__list .faqans ol li {display: inline-block; width: 100%; padding: 5px 0px 5px 32px; position: relative; color: #212121; font-family: 'Montserrat-Regular'; font-size: 14px; font-weight: 400; line-height: 24px;}

.faq__list .faqans ul li:after {content: url(../images/checkmark.svg); width: 16px; height: 17px; position: absolute; top: 7px; left: 0;}

.faq__list .faqsec:after {content: ""; float: right; right: 24px; position: absolute; top: 32px; background-image: url(../images/faq-close.svg); width: 16px; height: 15px; background-position: center; background-size: cover; background-repeat: no-repeat;}

.faq__list .faqsec.open:after {content: ""; float: right; background-image: url('../images/faq-open.svg'); width: 16px; height: 14px; background-position: center; background-size: cover; background-repeat: no-repeat;}

.faq__list .faqans a {display: inline-block; position: relative; color: #0a4436; font-family: "FuturaLT-Bold"; font-size: 13px; line-height: 17px; text-align: center; text-transform: uppercase; letter-spacing: 1.2px; text-decoration: underline;}

.faq__list .faqans a:hover {color: #c3b59b;}

.faq__btns {margin-top: 40px;}

.faq__btns .cmnbtn {margin-right: 80px; margin-top: 15px;}

.constitution__services {background: #FFF;}

.goverance-service {padding-top: 0px;}

.constitution__services .overview-block-product {height: 250px;}

.joinnow__sect {background: #EBEBEB;padding-bottom: 50px;}

.joinnow__sect .container__inner {max-width: 68%;}

.joinnow__sect .flex {flex-wrap: wrap;align-items: flex-start;}

.joinnow__sect .overview-block-product {height: auto; background: #FFF; width: calc(100% / 2 - 2.5rem); padding: 0px;} 

.joinnow__sect .overview-block-product h3 {letter-spacing: 5px; background: #0a4436; padding: 50px 20px 22px 20px; color: #FFF; margin-bottom: 0px; font-size: 18px; line-height: 28px;}

.join__details {padding: 30px 40px 40px 40px;}

.join__details .price {font-family: 'Montserrat-SemiBold'; font-style: normal; font-weight: 600; font-size: 20px; line-height: 28px; text-align: center; color: #212121; display: inline-block; width: 100%; margin: 15px 0px 35px 0px;}

.inner__section .slider__content {width: 100%;}

.coachffilters {background: #0a4436; padding: 45px 0px 20px 0px;}

.coachffilters .form__inner {position: relative;}

.coachffilters .flex {align-items: flex-end;flex-wrap: wrap;}

.coachffilters input[type="text"],.coachffilters select {border:none; border-radius: 0; border-bottom: 3px solid #FFF; padding: 0px 0px 15px 0px; font-family: 'Montserrat-Regular'; font-style: normal; font-weight: normal; font-size: 14px; line-height: 24px; color: #FFFFFF; width: 200px; position: relative;}

.coachffilters .select__field:after {content: url('../images/select-icon.svg'); position: absolute; top: 0px; right: 0;}

.coachffilters select option {color: #212121;padding: 5px;}

.coachffilters input[type="submit"] {width: 140px; font-family: 'FuturaLT-Bold'; font-size: 13px; line-height: 15px; letter-spacing: 1.2px; text-transform: uppercase; color: #0A4436; padding: 20px 10px; border:none; background: #C3B59B;}

.coachffilters input[type="submit"]:hover {background: #FFF; color: #C3B59B;}

.coachffilters .reset {font-family: 'FuturaLT-Bold'; font-size: 13px; line-height: 15px; letter-spacing: 1.2px; text-transform: uppercase; color: #C3B59B; position: relative; padding-left: 25px;}

.coachffilters .reset:hover {color: #FFF;}

.coachffilters .reset:before {content: url('../images/close.svg'); position: absolute; top: 3px; left: 0; width: 9px; height: 9px;}

.filters__results .flex,.grid {flex-wrap: wrap;align-items: flex-start;margin: 70px auto 0px auto;text-align: center;display: block;float: none;}

.filters__results .overview-block-product {margin: 0rem 2rem 3rem 2rem; text-align:left; height: auto; background: #FFF; width: 320px; padding: 0px;border: 1px solid rgba(33, 33, 33, 0.204823);} 

.filters__results .overview-block-product h3 {font-family: 'Montserrat-SemiBold'; font-style: normal; font-weight: 600; font-size: 20px; line-height: 28px; color: #212121; letter-spacing: inherit; padding: 25px 30px 17px 30px; background: #c3b59b; text-transform: inherit; margin-bottom: 0px;}

.coaches__sct {padding: 25px 25px 15px 25px;}

.filters__results .overview-block-product ul li {list-style: none; font-family: 'Montserrat-Regular'; font-style: normal; font-weight: 400; font-size: 14px; line-height: 24px; color: #212121;}

.filters__results .overview-block-product ul li strong {font-family: 'Montserrat-SemiBold'; font-style: normal; font-weight: 600;}

.shop__sect {padding: 60px 0px;}

.shop__top {display: flex; justify-content: space-between; align-items: center;border-bottom: 3px solid #C3B59B;padding-bottom: 30px;}

.shop__top h2 {margin-bottom: 0px;}

.shop__top .woo__tools {display: flex;margin-top: 0px;}

.shop__top .woocommerce-ordering {margin-left: 25px;position: relative;}

.shop__top .woo__tools select {border-radius: 0px; border: 1px solid rgba(33, 33, 33, 0.30214); font-family: 'Montserrat-Regular'; font-style: normal; font-weight: normal; font-size: 14px; line-height: 24px; color: #212121; padding: 12px 29px 12px 15px;}

.shop__top .woocommerce-ordering:after {content: url(../images/select-black.svg); position: absolute; top: 10px; right: 13px;}

.shop__listing {padding: 50px 0px 40px 0px;}

.products {margin: 15px 0 1em; padding: 0; list-style: none outside; clear: both; text-align: center; display: inline-block; width: 100%;}

.products.columns-3 li.product {width: 30.75%;}

.products li.product {float: left; margin: 0 3.8% 2.992em 0; padding: 0; position: relative; width: 22.05%; margin-left: 0;}

.products li.last {margin-right: 0;}

.products li img {margin-bottom: 25px;}

.products h2 {color: #212121; font-family: 'Montserrat-Regular'; font-size: 16px; font-weight: 400; line-height: 24px; text-align: center; letter-spacing: inherit;text-transform: inherit;margin-bottom: 15px;}

.woocommerce ul.products li.product .price {color: #212121; font-family: 'Montserrat-SemiBold'; font-size: 16px; font-weight: 600; line-height: 24px; text-align: center;} 

.shop__listing .shop_div {margin-top: 50px;}

.shop__single,.contact__sect {padding: 220px 0px 80px 0px;background: #EBEBEB;}

.single-product .flex,.contact__sect .flex {-webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; margin-top: 35px;} 

.single-product .woo__gallery {overflow: hidden; position: relative; max-width: 600px; width: 100%;}

.single-product .woo__details {width: calc(100% - 10rem); margin: 0 7rem 0 0px;}

.single-product .woo__details h1 {font-size: 24px; line-height: 28px; letter-spacing: 7px; text-transform: uppercase; color: #212121;}

.single-product .top__section {background: none;}

.woo__details .tagline {height: 13px; font-family: "FuturaLT-Bold"; font-size: 10px; line-height: 13px; text-align: right; text-transform: uppercase; letter-spacing: 3.4px; background: #c3b59b; padding: 4px 15px 2px 15px; margin-bottom: 30px; display: inline-table;}

.woo__details .price {font-family: 'Montserrat-SemiBold'; font-style: normal; font-weight: 600; font-size: 20px; line-height: 28px; color: #212121;}

.woo__details .select__wrapper {width: 260px; position: relative;}

.woo__details select,.woo__details .quantity .qty { width: 260px; border-radius: 0px; border: 1px solid rgba(33, 33, 33, 0.30214); font-family: 'Montserrat-Regular'; font-style: normal; font-weight: normal; font-size: 14px; line-height: 24px; color: #212121; padding: 12px 29px 12px 15px;margin-bottom: 0px;background: transparent;}

.woo__details .select__wrapper:after {content: url(../images/select-black.svg); position: absolute; top: 20px; right: 15px;}

.quantity_select:before { position: absolute; top: 15px; right: 15px; content: url(../images/select-black.svg);}

.quantity.quantity_select { width: 260px;position: relative;margin-top: 15px;}

.woo__details .quantity .qty {width: 260px; margin-bottom: 15px;}

.woo__details .button {float: left; width: 260px; font-family: 'FuturaLT-Bold'; font-size: 13px; line-height: 15px; letter-spacing: 1.2px; text-transform: uppercase; color: #FFFFFF; background: #0a4436; padding: 18px 10px; text-align: center; border:none; margin-top: 12px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}

.woo__details .cmnbtn {width: 100%; text-align: left; margin-top: 37px; text-decoration: underline;}

.woo__details .button:hover {background: #c3b59b;}

.shop_faqs {background: #FFF;padding-bottom: 20px;}

.social__share {margin-top: 90px;}

.social__share ul li {padding: 0px 10px; display: inline-block; position: relative; font-size: 13px; line-height: 15px; letter-spacing: 1.2px; text-transform: uppercase; color: #0A4436; font-family: 'FuturaLT-Bold';}

.social__share ul li a {font-size: 18px;color: #0A4436; position: relative; z-index: 1;}

.social__share li a:after {content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50% , -55%); background-color: #c3b59b; border-radius: 100%; display: flex; align-items: center; justify-content: center; height: 0; width: 0; transition: all 0.5s; z-index: -1;}

.social__share li a:hover:after {height: 40px; width: 40px;}

.blog__filters {margin-top: 0px; padding: 46px 0px 39px 0px; background-color: #0A4436; text-align: center;}

.blog__filters ul li {cursor: pointer; list-style: none; display: inline-block; padding: 3px 8px; margin: 0px 17px 10px 0px; text-align: center; text-decoration: none; outline: none; transition: 0.5s ease-in-out all; -webkit-transition: 0.5s ease-in-out all; -ms-transition: 0.5s ease-in-out all; -moz-transition: 0.5s ease-in-out all; -o-transition: 0.5s ease-in-out all; position: relative; font-size: 13px; line-height: 15px; text-align: center; letter-spacing: 1.2px; text-transform: uppercase; color: #FFFFFF; font-family: 'FuturaLT-Bold';}

.blog__filters ul li:hover,.blog__filters ul li.is-checked {background: #c3b59b; color: #FFF;}

.blog__listings {background: #212121; padding-bottom: 100px;}

.blog__listings .grid {margin-top: 0px;display: flex; flex-wrap: wrap; flex: 0 0 100%;}

.blog__listings .overview-block-product {margin: 0rem 2rem 3rem 2rem; text-align: left; height: auto; background: transparent; width: calc(100% / 3 - 4rem); padding: 0px; border: 1px solid rgba(33, 33, 33, 0.204823);}

.blog__listings .shop_div {margin-top: 35px;}

.blog__listings .shop_div a {text-decoration: underline; color: #c3b59b;}

.blog__listings .shop_div a:hover {color: #FFF;}

.blog__single {padding: 230px 0px 80px 0px;background: #EBEBEB;}

.blog__single .container__inner {max-width: 64%;margin: 0 auto;border-bottom: 3px solid #C3B59B;padding-bottom: 80px;}

.blog__single .common__info {margin-bottom: 25px;display: inline-block;width: 100%;}

.blog__single .common__info h2,.blog__single .common__info h3 {margin-bottom: 30px;}

.blog__single .common__info ul {padding-bottom: 0px;}

.blog__single .common__info ul li {list-style: none; width: auto; font-family: 'Montserrat-SemiBold'; font-style: normal; font-weight: 600; font-size: 16px; line-height: 24px; text-align: center; color: #0A4436; display: inline-block; padding: 0px 15px 0px 0px;}

.blog__single .common__info ul li:after {content: none;}

.blog__single img {margin: 40px 0px; max-width: 100%; height: auto;}

.blog__single blockquote {position: relative; margin: 50px 0px 15px 80px; border: none; padding: 20px 0px 25px 90px; font-family: 'Montserrat-SemiBold'; font-style: normal; font-weight: 600; font-size: 20px; line-height: 28px; color: #212121;}

.blog__single blockquote p {font-family: 'Montserrat-SemiBold'; font-style: normal; font-weight: 600; font-size: 20px; line-height: 28px; color: #212121;}

.blog__single blockquote:after {content: url(../images/quote.svg); background-position: center; background-repeat: no-repeat; background-size: cover; position: absolute; top: 0; left: 0;}

.blog__single .social__share {margin-top: 40px;}

.single__inner ul,.single__inner ol {margin: 0px; padding: 0px 0px 20px 0px;}

.single__inner ul li {display: inline-block; width: 100%; padding: 5px 0px 5px 32px; position: relative; color: #212121; font-family: 'Montserrat-Regular'; font-size: 14px; font-weight: 400; line-height: 24px;}

.single__inner ol li {display: inline-block; width: 100%; padding: 5px 0px 5px 32px; position: relative; color: #212121; font-family: 'Montserrat-Regular'; font-size: 14px; font-weight: 400; line-height: 24px;}

.single__inner ul li:after {content: url(../images/checkmark.svg); width: 16px; height: 17px; position: absolute; top: 7px; left: 0;}

.single__inner a {display: inline-block; position: relative; color: #0a4436; font-family: "FuturaLT-Bold"; font-size: 13px; line-height: 17px; text-align: center; text-transform: uppercase; letter-spacing: 1.2px; text-decoration: underline;}

.single__inner a:hover {color: #c3b59b;}

.video-wrapper {position: relative; margin: 50px auto 0px auto; object-fit: cover; overflow: hidden; height: auto; background: #000; max-width: 600px;}

.video-wrapper > video {width: 100%; vertical-align: middle; object-fit: cover; overflow: hidden; height: auto;}

.video-overlay-play-button {box-sizing: border-box; width: 100%; height: 100%; padding: 10px calc(50% - 50px); position: absolute; top: 0; left: 0; display: block; opacity: 1; cursor: pointer;}

.video-overlay-play-button .play-icon {background: url('../images/video-icon.svg'); height: 70px; width: 100px; background-repeat: no-repeat; background-size: cover; background-position: center; margin: 0 auto;}

.video-content {position: absolute; top: 25px; left: 30px; right: 25px; z-index: 999;} 

.video-content h3{color: #FFF; letter-spacing: inherit; text-transform: inherit; font-size: 18px; font-family: 'Montserrat-SemiBold'; font-weight: 600;}

.contact__sect .contact__left,.contact__sect .contact__right,.course__single .course__left,.course__single .course__right {flex: 0 0 46%;}

.contact__sect .contact__left h3 {font-family: 'Montserrat-SemiBold'; font-style: normal; font-weight: 600; font-size: 20px; line-height: 28px; color: #212121; letter-spacing: inherit; margin: 15px 0px 50px 0px; text-transform: inherit;}

.contact__address {display: flex; justify-content: space-between; margin-bottom: 50px;}

.contact__address h4 {font-size: 13px; line-height: 15px; letter-spacing: 1.2px; text-transform: uppercase; color: #212121;}

.contact__address ul li {list-style: none; font-family: 'Montserrat-Regular'; font-style: normal; font-weight: normal; font-size: 14px; line-height: 24px; color: #212121; margin-bottom: 5px;}

.contact__sect .contact__left .social__share {margin-top: 50px;}

.contact__right .gform_wrapper .gfield_label {display: none !important;}

.contact__right .gform_wrapper .gfield {margin-bottom: 34px;}

.codes__bg {background: #ebebeb;}

.white__bg {background: #FFF;}

.code__faqs .container__inner {max-width: 62%;}

.code__faqs .code__lists {border-bottom: 1px solid rgba(33, 33, 33, 0.204823); padding-bottom: 25px; margin-bottom: 25px;}

.code__faqs .code__lists h3 {font-family: 'Montserrat-SemiBold'; font-style: normal; font-weight: 600; font-size: 20px; line-height: 28px; color: #212121; letter-spacing: inherit; margin-bottom: 20px;position: relative;padding-left: 35px;text-transform: inherit;}

.code__faqs .code__lists h3:before {content: ""; float: right; left: 0px; position: absolute; top: 7px; background-image: url(../images/faq-close.svg); width: 16px; height: 15px; background-position: center; background-size: cover; background-repeat: no-repeat;}

.code__faqs .code__lists p {padding: 0px 35px;}

.code__faqs ul,.code__faqs ol {margin: 0px; padding: 0px 0px 20px 0px;}

.code__faqs ul li {display: inline-block; width: 100%; padding: 5px 0px 5px 32px; position: relative; color: #212121; font-family: 'Montserrat-Regular'; font-size: 14px; font-weight: 400; line-height: 24px;}

.code__faqs ol li {display: inline-block; width: 100%; padding: 5px 0px 5px 32px; position: relative; color: #212121; font-family: 'Montserrat-Regular'; font-size: 14px; font-weight: 400; line-height: 24px;}

.code__faqs ul li:after {content: url(../images/checkmark.svg); width: 16px; height: 17px; position: absolute; top: 7px; left: 0;}

.code__faqs a {display: inline-block; position: relative; color: #0a4436; font-family: "FuturaLT-Bold"; font-size: 13px; line-height: 17px; text-align: center; text-transform: uppercase; letter-spacing: 1.2px; text-decoration: underline;}

.code__faqs a:hover {color: #c3b59b;}

.coaches__bg {background: #ebebeb;padding: 100px 0px;}

.online__courses {padding: 35px 0px;}

.online__courses .flex {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; flex-wrap: wrap;}

.online__courses .overview-block-product {height: auto;padding: 0px;text-align: left;margin-bottom: 80px;}

.online__courses .overview-block-product .coursespbg {height: 450px;margin-bottom: 30px;}

.courses_details .taglines {height: 13px; font-family: "FuturaLT-Bold"; font-size: 10px; line-height: 13px; text-align: right; text-transform: uppercase; letter-spacing: 3.4px; background: #c3b59b; padding: 4px 15px 2px 15px; margin-bottom: 20px; display: inline-table;color: #212121;} 

.courses_details h3 {font-family: "FuturaLT-Bold"; font-size: 24px; line-height: 32px; margin-bottom: 20px;}

.course__single {margin-top: 120px; background: #ebebeb; padding: 100px 0px;}

.course__single .course__right h3 {margin-bottom: 20px;}

.course__single .course__right .taglines {margin-bottom: 15px;}

.course__single .course__right .price {font-family: 'Montserrat-SemiBold'; font-style: normal; font-weight: 600; font-size: 20px; line-height: 28px; color: #212121;}

.course__single .course__right .social__share {margin-top: 30px;}

.courses_faqs {padding-bottom: 80px;}

.footer__sect {padding: 80px 0px 40px 0px;background-color: #212121;}

.footer__main h3 {color: #ffffff; font-family: 'Montserrat-SemiBold'; font-size: 20px; font-weight: 600; line-height: 28px; margin-bottom: 22px;}

.footer__main ul li a {color: #ffffff; font-family: 'Montserrat-Regular'; font-size: 14px; font-weight: 400; line-height: 24px;}

.footer__inner .footer__main {display: inline-block; width: 25%; vertical-align: top; padding-right: 45px;}

.footer__inner .footer__main ul {list-style: none;}

.footer__inner .logo__sect {width: 25%;}

.footer__inner .logo__sect img {max-width: 185px; margin-bottom: 25px;}

.footer__inner .shop__menu {width: 23%;}

.footer__inner .shop__menu ul li {color: #c3b59b; font-family: 'Montserrat-SemiBold'; font-size: 14px; font-weight: 600; line-height: 24px; padding-bottom: 5px;}

.footer__inner .shop__menu ul li a {color: #FFF; font-family: 'Montserrat-Regular'; font-size: 14px; font-weight: 400; line-height: 24px; padding-left: 10px;}

.social__icons {margin-bottom: 15px;} 

.social__icons ul li {padding: 0px 20px 0px 0px;display: inline-block; position: relative;}

.social__icons ul li a {padding-left: 0px !important; position: relative;color: #FFF !important;z-index: 1;}

.social__icons li a:after {content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50% , -55%); background-color: #c3b59b; border-radius: 100%; display: flex; align-items: center; justify-content: center; height: 0; width: 0; transition: all 0.5s; z-index: -1;}

.social__icons li a:hover:after {height: 40px; width: 40px;}

.footer__inner .shop__menu .cmnbtn {color: #c3b59b;}

.footer__inner .shop__menu .cmnbtn:hover {color: #FFF;}

.footer__inner .info__menu {width: 20%;}

.footer__inner .follow__menu {width: 28%; padding-right: 0px; float: right;}

.follow__menu ul li {display: inline-block; margin-right: 15px;} 

.follow__menu ul li img {border-radius: 100%;}

.footer__main ul li a:hover,.footer__main ul li.current-menu-item a {color: #c3b59b;}

.copyright  {display: flex;flex-wrap: wrap; margin-top: 30px;justify-content: space-between;}

.copyright p,.copyright a {color: rgba(255,255,255,0.6); font-family: 'Montserrat-Regular'; font-size: 11px; font-weight: 400; line-height: 24px;} 

.copyright a:hover {color: #c3b59b;}

.course__gallery {background: #EBEBEB;}

.course__gallery .container__inner {max-width: 77%;}

.gallery__slider {margin-top: 55px;}

.gallery__slider .item {background-repeat: no-repeat; background-size: cover; background-position: center; height: 650px;}

.gallery__slider .owl-nav {position: absolute; top: 45%; font-size: 0px; width: 100%;}

.gallery__slider .owl-prev {background-image: url('../images/prev-arrow.svg'); width: 65px; height: 65px; background-repeat: no-repeat; background-position: center; background-size: cover; left: -130px; position: absolute;}

.gallery__slider .owl-next {
	background-image: url('../images/prev-arrow.svg'); width: 65px; height: 65px; background-repeat: no-repeat; background-position: center; background-size: cover;
    right: -125px;
    position: absolute;
    transform: rotate(180deg);
}
p.no-post { color: #fff;}
.load-more-img {
    position: fixed;
    background-color: rgba(49, 49, 49, 0.3);
    height: 100%;
    width: 100%;
    z-index: 9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.load-more-img img{	height: 60px;}
ul.filters-button-group li a {color: #fff;}
.home-shop-list {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 400px;
    width: auto;
    margin-bottom: 25px;
}
.shop-page-listing-image {
    height: 420px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-bottom: 30px;
}
.woocommerce ul.products li.product .onsale {
    top: 6px;
    right: 6px;
}
.woocommerce span.onsale{
	background-color: #004238;
	border-radius: 0px;
}

.woocommerce .cart .button,.woocommerce button.button.alt,
.woocommerce button.button.alt.disabled,.woocommerce button.button.alt.disabled:hover {
    font-family: 'FuturaLT-Bold';
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF !important;
    background-color: #0a4436 ;
    padding: 18px 10px !important;
}
.woocommerce button.button.alt:hover,.woocommerce button.button:hover,.woocommerce button.button:disabled:hover,
.woocommerce button.button:disabled[disabled]:hover {
    background-color: #c3b59b;
}
table.variations{
	margin-bottom: 0px;
}
form.variations_form.cart table select{
    margin-top: 10px;
}
form.variations_form.cart .quantity_select{
    margin-top: 0;
}
.woocommerce a.button:hover {
    color: #fff;
}
.woocommerce a.button {
    background-color: #0a4436 !important;
    color: #fff;
}
.select2-selection__rendered {
    line-height: 38px !important;
}
.select2-container .select2-selection--single {
    height: 40px !important;
}
.select2-selection__arrow {
    height: 40px !important;
}
nav.woocommerce-MyAccount-navigation ul li:after {
    content: url(../images/checkmark.svg);
    width: 16px;
    height: 17px;
    position: absolute;
    top: 7px;
    left: 0;
}
nav.woocommerce-MyAccount-navigation ul li {
    list-style: none;
    position: relative;
    padding: 5px 0px 5px 32px;
}
@media screen and (min-width: 1025px) {
	.header__logo {display: flex; width: 220px;margin-top: -20px;}
	.header__section.header__bg .search__form .search__field::-webkit-input-placeholder,.wthbanner .search__form .search__field::-webkit-input-placeholder {color: #212121;}
	.header__section.header__bg .search__form .search__field::-moz-placeholder,.wthbanner .search__form .search__field::-moz-placeholder {color: #212121;}
	.header__section.header__bg .search__form .search__field:-ms-input-placeholder,.wthbanner .search__form .search__field:-ms-input-placeholder {color: #212121;}
	.header__section.header__bg .search__form .search__field:-moz-placeholder,.wthbanner .search__form .search__field:-moz-placeholder {color: #212121;}
	.header__section.header__bg .search__form input[type='submit'],.wthbanner .search__form input[type='submit'] {background: url('../images/search-black.svg');}
	.fixed__logo,.fixed-cart {display: none;}
	.header__section.header__bg {background-color: #FFF;}
	.header__section.header__bg .desktop__logo,.header__section.header__bg .desktop-cart {display: none;}
	.header__section.header__bg .fixed__logo,.header__section.header__bg .fixed-cart {display: block;}
	.header__section.header__bg .top__section {background: #FFF;}
	.header__section .nav {margin-top: -75px;}
	.header__section.header__bg .header__inner .nav {margin-top: 0px;}
	.header__section.header__bg .top__section li.shopnow a {background-color: #0a4436;color: #FFF;}
	.mobile__version {display: none;}
	.nav > li {display: inline-block; vertical-align: top; position: relative;margin-bottom: 0px;padding: 20px 4px;} 
	.nav li a {-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; display: block; padding: 2px 10px; color: #ffffff; font-family: "FuturaLT-Bold"; font-size: 14px; line-height: 19px; text-transform: uppercase; letter-spacing: 1.5px;} 
	.nav li > ul {position: absolute; display: none; border: none; border-radius: 0px; min-width: 185px; top: 60px; left: 15px; padding: 15px 0px 5px; background: #FFF; list-style: none; }
	.nav li:hover > ul {display: inline-block; }
	.nav li li a {display: block; position: relative; z-index: 100; color: #212121; padding: 4px 20px; font-size: 14px; line-height: 24px; text-transform: inherit; }
	.nav > li > a:hover,.nav li.current-menu-item a:hover {background-color: #0a4436;}	
	.nav li li a:hover {color: #0a4436;}
	.header__section.header__bg .nav > li > a,.wthbanner .nav > li > a {color: #212121;}
	.header__section.header__bg .nav > li {padding: 25px 4px 10px;}
	.header__section.header__bg .cart-contents .in-cart {bottom: 2px;}
	.header__section.header__bg .nav > li > a:hover,.header__section.header__bg .nav li.current-menu-item a,.wthbanner .nav > li > a:hover,.wthbanner .nav li.current-menu-item a {background-color: #0a4436;color: #FFF;}
}
@media (max-width: 1280px) {
	.slider__section .slider__content {width: 55%;}
	.nav > li {padding: 20px 0px;}
	.header__logo {width: 150px;}
	.header__section .nav {margin-top: -40px;} 
	.container__inner {max-width: 100%;}
	.header__section.header__bg .nav > li {padding: 25px 0px 10px;}
	.header__section.header__bg .header__logo {width: 200px;}
	.constitutions__sect .container__inner,.joinnow__sect .container__inner,.code__faqs .container__inner,.blog__single .container__inner {max-width: 80%;}
	.inner__section .slider__content {width: 75%;}
}
@media (max-width: 1200px) {
	.coachffilters .form__inner {margin-bottom: 25px;}
	.blog__listings .overview-block-product {margin: 0rem 1rem 4rem 1rem;width: calc(100% / 3 - 2rem);}
	.shop__single, .contact__sect {padding: 170px 0px 80px 0px;}
	.blog__single {padding: 200px 0px 80px 0px;}
}
@media (max-width: 1150px) {
	.nav li a {padding: 0px 6px;}
	.header__section.header__bg .header__logo {width: 170px;}
	.header__section.header__bg .cart-contents .in-cart {right: -1px;} 
}
@media (max-width: 1070px) {
	.nav li a {font-size: 13px;}
	.slider__section .slider__content {width: 57%;}
	.inner__section .slider__content {width: 100%;}
}
@media (max-width: 1024px) {
	.top__section {display: none;}
	.desktop__version {display: none;}
	.mobile__version {display: block;}
	.mobile__version .nav { display: block; }
	.menu__toggle {width: 40px;height: 40px;cursor: pointer;z-index: 99999;position: fixed;top: 45px;right: 25px;}
	.admin-bar .menu__toggle {top: 77px;}
	.header__section {padding: 20px;}
	.header__section.header__bg {padding: 20px 20px 10px 20px;background: #212121;}
	.header__section .container {height: 100%; padding: 0px;}
	.header__logo {max-width: 100px;}
	.header__inner {margin-bottom: 0px; height: 100%; border-bottom: 0px; padding: 0px;}
	.header__section .header__mains {display: inline-block; position: relative; width: 100%;}
	.header__section.on {height: 100%; position: fixed; background: #212121;padding: 0px;}
	.one, .two, .three {width: 100%; height: 3px; background: #FFF; margin: 8px auto; backface-visibility: hidden; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; cursor: pointer; border-radius: 0px;}
	.menu__section.on {width: 100%; height: 100%; display: block; position: absolute; left: 0; top:0px; margin: 0px; overflow-y: scroll;}
	.menu__toggle.on .two {opacity: 0;}
	.menu__toggle.on .one {-moz-transform: rotate(45deg) translate(7px, 7px); -ms-transform: rotate(45deg) translate(7px, 7px); -webkit-transform: rotate(45deg) translate(7px, 7px); transform: rotate(45deg) translate(7px, 7px); background: #FFF;}
	.menu__toggle.on .three {-moz-transform: rotate(-45deg) translate(8px, -10px); -ms-transform: rotate(-45deg) translate(8px, -10px); -webkit-transform: rotate(-45deg) translate(8px, -10px); transform: rotate(-45deg) translate(8px, -10px); background: #FFF;}
	.header__section .nav {margin: 0; padding: 0px; list-style: none; margin: 7em 20px 5em 20px;}
	.header__section.on .header__mains {padding: 20px 20px 0px 20px;position: fixed; z-index: 9999; background: #212121;} 
	.nav.hidden {display: none;}
	.nav li {float: none !important; padding: 0px !important; display: block !important; position: relative;margin-bottom: 0px;}
	.nav li > ul {display: none;}
	.nav li a {padding: 10px 0px !important; width: 100%; letter-spacing: 2px; text-align: center; font-weight: normal; display: inline-block; font-size: 18px; line-height: 26px; text-transform: inherit; color: #FFF !important;}
	.open > .sub-menu {display: block !important;margin-bottom: 0px;}
	.nav .sub-menu li a {padding: 10px 0px !important; text-transform: inherit; font-size: 18px;}
	.nav span.carets {position: absolute; right: 0; top: 0; padding: 12px 0px 12px 15px; display: block;}
	.nav span.carets::after {content: url(../images/menu-plus.svg); width: 20px; height: 18px; display: block; line-height: normal;}
	.nav li.open span.carets::after {content: url('../images/menu-minus.svg'); width: 20px; height: 2px; display: block; top: -7px; position: relative;}
	.cart-contents {position: fixed;top: 54px;right: 90px;}
	.header__section.on .cart-contents{z-index: 9999;}
	.cart-contents .in-cart {bottom: 1px;right: -10px;}
	.mobile__btns,.search__form {display: none;}
	.header__section.on .mobile__btns {display: block; position: absolute; bottom: 0; width: 100%;} 
	.mobile__btns ul {display: flex;position: relative;}
	.mobile__btns ul li {flex: 1;margin-bottom: 0px;list-style: none;}
	.mobile__btns li a {padding: 0px 22px; display: inline-block; height: 40px; line-height: 40px; font-family: "FuturaLT-Bold"; font-size: 13px; text-align: center; text-transform: uppercase; letter-spacing: 1.2px; display: inline-block; width: 100%;} 
	.mobile__btns li.login a {background: #c3b59b; color: #ffffff;}
	.mobile__btns li.shopnow a {background: #FFF; color: #212121;} 
	.header__section.on .search__form {display: block; text-align: center; max-width: 130px; margin: 0 auto;} 
	.header__section.header__bg .cart-contents .in-cart {right: -10px;} 
	.overview-block-product {height: 320px;}
	.paddingtop {padding: 80px 0px 60px 0px !important;}
	.online__courses {padding: 35px 0px !important;}
	.home.slider__section {height: 800px;}
	.slider__content h2 {font-size: 70px;line-height: 90px;} 
	.objective__sect .flex {margin-top: 0px;}
	.objective__content {padding: 0px 0px 0px 70px;}
	.overview-block-product .shopbg {height: 350px;}
	.courses__sect h2, .courses__sect h3,.join_nowsect h3 {font-size: 40px;line-height: 60px;}
	.courses__sect {padding: 80px 0px !important;}
	.constitutions__sect .container__inner,.const__faqs .container__inner,.joinnow__sect .container__inner,.code__faqs .container__inner,.blog__single .container__inner {max-width: 100%;}
	.filters__results .overview-block-product {width: 280px;margin: 0rem 1rem 3rem 1rem;}
	.wthbanner .header__section {background: #212121;}
	.gallery__slider .owl-nav {bottom: -20px;top: auto;}
	.gallery__slider .owl-prev {left: 0;}
	.gallery__slider .owl-next {right: 0;}
	.gallery__slider .item {height: 500px;}
	.course__gallery .container__inner {max-width: 100%;}
	.course__gallery {padding-bottom: 170px !important;}
	.course__single {margin-top: 129px; padding: 30px 0px;}
}
@media (max-width: 992px) {
	.slider__section .slider__content {width: 100%;} 
	.home_mdl_sect .home_mdl_right {width: 100%;margin-top: 50px;position: relative;}
	.home_mdl_sect .home_mdl_left {width: 100%;text-align: center;}
	.home_mdl_sect p {text-align: center;}
	.overview-block-product {width: calc(100% / 2 - 1.6rem);}
	.objective__sect .container__inner {width: 77%;margin: 0 auto;}
	.objective__sect .objective__left {flex: 0 0 100%;}
	.objective__content {padding: 50px 0px 0px 0px;}
	.footer__inner .footer__main {width: 48% !important; margin-bottom: 50px;}
	.footer__inner .footer__main:nth-child(2n) {padding-right: 0px;}
	.footer__inner .follow__menu {float: none;}
	.copyright {margin-top: 0px;}
	.faq__list .faqans h2, .faq__list .faqans h3 {font-size: 16px;line-height: 26px;}
	.joinnow__sect .overview-block-product {width: calc(100% / 2 - 1rem)}
	.inner__section {height: 550px;}
	.coachffilters input[type="submit"] {width: 200px;}
	.filters__results .overview-block-product {width: 300px;}
	.slider__content h2 {font-size: 40px; line-height: 60px;}
	.blog__listings .overview-block-product {width: calc(100% / 2 - 2rem);}
	.single-product .flex, .contact__sect .flex {flex-direction: column;}
	.single-product .woo__gallery {margin-bottom: 70px;}
	.single-product .woo__details {width: 100%;order: 2;}
}
@media (max-width: 767px) {
	.courses__sect,.join_nowsect {height: 400px;} 
	.courses__sect .square__img {display: none;} 
	.join__details {padding: 30px 20px 40px 20px;}
	.filters__results .overview-block-product {width: 280px;}
	.filters__results .flex, .grid {margin: 40px auto 0px auto;}
	.coachffilters input[type="text"], .coachffilters select,.coachffilters input[type="submit"] {width: 185px;}
	.blog__single blockquote {margin-left: 0px;}
	.video-wrapper {max-width: 100%;}
	.contact__sect .contact__left, .contact__sect .contact__right, .course__single .course__left, .course__single .course__right {flex: 0 0 100%;}
	.contact__sect .contact__right,.course__single .course__right {margin-top: 50px;}
}
@media (max-width: 639px) {
	.overview-block-product {width: calc(100% / 2 - 1em);height: 250px;}
	.objective__sect .container__inner {width: 100%;}
	.overview-block-product .shopbg {height: 220px;}
	.slider__content h2 {font-size: 40px; line-height: 60px;}
	.joinnow__sect .overview-block-product {width: 100%; margin-right: 0px;}
	.filters__results .overview-block-product {width: 350px;}
}
@media (max-width: 560px) { 
	.slider__section {height: 485px;}
	.slider__section .square__img {height: 312px;width: 200px;left: -60px;top: 100px;}
	.square__img img {max-width: 100%;height: 100%;}
	.slider__content h2 {font-size: 27px; line-height: 47px;} 
	.left__img img {width: 193px;}
	.right__img img {width: 181px;}
	.overview-block-product {width: 100%;height: 330px;margin-bottom: 40px;}
	.square__img img {max-width: 100%;height: 100%;}
	.left__img img {width: 193px;}
	.right__img img {width: 181px;}
	.overview-block-product {width: 100%;height: 330px;margin-bottom: 40px;}
	.common__sect h3, .common__sect h2 {font-size: 18px;line-height: 28px;letter-spacing: 5.25px;}
	.home_services h3 {font-size: 15px;line-height: 25px;}
	.objective__img {height: 320px;background-position: top center}
	.objective__img .square__img {height: 218px;width: 150px;left: -65px;top: 62px;}
	.objective__content ul li {font-size: 12px;line-height: 22px;}
	.cmnbtn {font-size: 11px;line-height: 15px;}
	.courses__sect, .join_nowsect {height: 400px;overflow: hidden;}
	.courses__sect h2, .courses__sect h3, .join_nowsect h3 {font-size: 26px; line-height: 36px;} 
	.courses__sect h3 {margin-bottom: 45px;}
	.courses__sect .square__img {display: block; height: 337px; right: -270px; top: -50px;}
	.overview-block-product .shopbg {height: 330px;}
	.shop__details h3 {font-size: 14px;line-height: 24px;}
	.state_details p {font-size: 12px; line-height: 20px;}
	.join_nowsect h3 {font-size: 30px; line-height: 40px;padding: 5px 20px;}
	.join_nowsect h4 {font-size: 18px;line-height: 28px;letter-spacing: 5.25px;}
	.footer__inner .logo__sect {width: 100% !important;text-align: center;margin-bottom: 0px;}
	.footer__inner .info__menu {padding-right: 0px;float: right;}
	.footer__inner .follow__menu {float: none; width: 100% !important;margin-bottom: 10px;}
	.follow__menu ul li img {border-radius: 100%; width: 45px; height: 45px;}
	.footer__main h3 {font-size: 17px;line-height: 27px;}
	.copyright {margin-top: 0px; text-align: center; align-items: center; justify-content: center;} 
	.inner__section .slider__content,.inner__section .slider__content h2 {margin-bottom: 0px;text-align: center;}
	.inner__section .tbl-cell {vertical-align: middle;}
	.faq__list .faqans h2, .faq__list .faqans h3 {font-size: 14px; line-height: 24px;}
	.faq__list .faqsec {padding: 20px 50px 20px 15px; font-size: 16px; line-height: 26px;}
	.faq__list .faqsec:after {top: 32px;}
	.faq__btns .cmnbtn {width: 100%;margin-right: 0px;}
	.faq__btns .cmnbtn .gg-shape-triangle {right: 36px;}
	.filters__results .overview-block-product {width: 100%; margin: 0px 0px 2rem 0px;}
	.coachffilters input[type="text"], .coachffilters select {width: 100%;}
	.filters__results .overview-block-product h3 {font-size: 18px; line-height: 28px;}
	.coachffilters .form__inner {width: 100%;}
	.blog__listings .overview-block-product {width: 100%;margin: 0px 0px 4em 0px; }
	.blog__filters ul li {display: table;margin: 15px auto;}
	.video-content {position: absolute;top: 14px;left: 15px;}
	.gallery__slider .item {height: 350px; } 
}
@media (max-width: 359px) {
	.faq__list .faqsec:after {top: 21px;}
	.blog__single blockquote {padding: 20px 0px 25px 70px;}
}