.home_services .overview-block-product a{
	height: 100%;
}
.shop__online ul li.product:last-child {
    margin-right: 0;
}

.default-page-sec {
    padding: 80px 0px;
    position: relative;
    float: left;
    width: 100%;
}
.default-page-sec h4.entry-title {
    margin-top: 25px;
    margin-bottom: 10px;
}
.shop-loadmore-img {
    position: fixed;
    background-color: rgba(49, 49, 49, 0.3);
    height: 100%;
    width: 100%;
    z-index: 9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop__top .woo__tools select{
    width: 200px;
    text-transform: capitalize;
}
table.variations tr td label {
    display: none;
}
section.related.products h2 {
    font-family: "FuturaLT-Bold";
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-bottom: 40px;
    color: #000;
}
.shop__sect a.button.add_to_cart_button,.shop__sect a.button.product_type_grouped {
    display: none;
}
section.related .button {
    display: none;
}
.contact-map.acf-map {
    width: 100%;
    height: 300px;
}
.gform_wrapper li.gfield.gfield_error {
    background-color: unset !important;
    border: unset !important;
}
.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}
.gform_wrapper textarea.large {
    height: 150px !important;
}
@media screen and (min-width: 1025px) {
    body.single .nav > li > a,body.page-template-contact .nav > li > a {
        color: #212121;
    }
    body.single .nav > li > a:hover,body.page-template-contact .nav > li > a:hover {
        color: #fff;
    }
}